.friendMessage {

}

.friendImageAndText {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.friendImageAndText img {
    width: 48px;
}

.friendText {
    padding: 10px;
    border-radius: 10px;
    background-color: #0066cc;
    width: max-content;
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
